package $!{package.Mapper};

import $!{package.Entity}.$!{entity};
import com.baomidou.mybatisplus.core.mapper.BaseMapper;

/**
 * $!{table.comment} mapper
 * 
 * @author $!{author}
 * @date $!{date}
 */
public interface $!{entity}Mapper extends BaseMapper<$!{entity}> {
	
}
