package $!{package.Service};

import com.baomidou.mybatisplus.extension.service.IService;
import $!{package.Entity}.$!{entity};

/**
 * $!{table.comment} 服务器层
 *
 * @author $!{author}
 * @date $!{date}
 */
public interface $!{entity}Service extends IService<$!{entity}> {

}

